.tile {
	fill:#000000;
	stroke:#6f6f6f;
	fill-opacity:1;
	stroke-width:3;
	stroke-miterlimit:4;
	stroke-dasharray:none;
	stroke-opacity:1
}

.start {
	fill:#AAAAAA;
}

.vorschau .tile {
	opacity: 0.75;
}

.vorschau .icon {
	opacity: 0.75;
}

.icon {
	fill-opacity:1;
	stroke-width:4;
	stroke-miterlimit:4;
	stroke-dasharray:none;
	stroke-opacity:1
}

.spike.icon {
	stroke-width:2;
}

.blue .icon {
	fill:#2c00e9;
	stroke:#1f2e9e;
}

.green .icon {
	fill:#73d216;
	stroke:#4e9a06;
}

.orange .icon {
	fill:#f57900;
	stroke:#ce5c00;
}

.magenta .icon {
	fill:#ff2dc1;
	stroke:#e900a4;
}

.red .icon {
	fill:#e92600;
	stroke:#ea2020;
}

.yellow .icon {
	fill:#e9db00;
	stroke:#edd400;
}

#main {
	width: 100%;
	height: calc(100% - 250);
	overflow: auto;
}
